<h1>BURGER TIME!</h1>

<h2>Gotta eat these burgers still..</h2>
    <ul>
        {{#each burgers}}
            {{#unless this.devoured}}
            <form class="devour_form">
              <li>
                  <input type="hidden" class="burger_id" value={{this.id}}>
                  <button type="submit" name="devoured" value="1" class="btn btn-warning" >{{burger_name}}</button>
              </li>
            </form>
            <br>
            {{/unless}}
        {{/each}}
    </ul>

<h2>CRUSHED 'EM</h2>

<ul>
  {{#each burgers}}
    {{#if this.devoured}}
      <li>
          <button type="button" class="btn btn-success">{{burger_name}}</button>
      </li>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form action="/api/burgers" method="POST">
  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="burger_name" placeholder="Quadruple Fiesta Burger">
  </div>
  <button type="submit" name="addIt" class="btn btn-success">Add Burger</button>
</form>
